# Data Manipulation
pandas
numpy

# Machine Learning
scikit-learn
joblib

# Deep Learning & NLP
torch
transformers
datasets
accelerate
evaluate
peft
bitsandbytes
trl

# Data Visualization
matplotlib
seaborn

# API / Middleware
fastapi
uvicorn[standard]
httpx
aiosqlite

# Utilities
kaggle
tqdm
jupyter
ipykernel
python-dotenv
requests
pyarrow