# Data Manipulation
pandas
numpy

# Machine Learning
scikit-learn
joblib

# Deep Learning & NLP
torch
transformers
datasets
accelerate
evaluate
peft
bitsandbytes
trl

# Data Visualization
matplotlib
seaborn

# API / Middleware
fastapi
uvicorn[standard]
httpx
aiosqlite
pydantic==2.12.5
pydantic-core==2.41.5

# Utilities
kaggle
tqdm
jupyter
ipykernel
python-dotenv
requests
pyarrow